* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "FOT-ロダンNTLG Pro DB", sans-serif !important;
}

body {
	background-color: transparent;
}

div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] {
	display: grid;
	flex-wrap: wrap;
	//grid-template-columns: repeat(auto-fill, 240px);
	gap: 36px 36px;
	grid-template:
	"gm1 center gm2"
									"fst center fth"
									"snd center fif"
									"trd center six"

									/ 240px 1fr 240px
;

}
div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] li[class*=Voice_voiceState] {
	display: inline-block;
	height: auto;
	aspect-ratio: 1/1;
	text-align: center;
	position: relative;

	&:nth-of-type(1){
		grid-area: gm1;
		display: none;
	}
	&:nth-of-type(2){
		grid-area: gm2;
		display: none;
	}
	&:nth-of-type(3){
		grid-area: fst;
	}

	&:nth-of-type(4){
		grid-area: snd;
	}
	&:nth-of-type(5){
		grid-area: trd;
	}
	&:nth-of-type(6){
		grid-area: fth;
	}
	&:nth-of-type(7){
		grid-area: fif;
	}
	&:nth-of-type(8){
		grid-area: six;
}


	//&[data-userid="157038499671965696"]::before,&[data-userid="157038499671965696"]::after{
	//	content: "";
	//	z-index: 1;
	//	position: absolute;
	//	top: 40%;
	//	left: 50%;
	//	width: 90%; /* 棒の幅（太さ） */
	//	height: 20px; /* 棒の高さ */
	//	background: darkred;
	//}
	//&[data-userid="157038499671965696"]::before{
	//	transform: translate(-50%,-50%) rotate(45deg);
	//}
	//
	//&[data-userid="157038499671965696"]::after{
	//	transform: translate(-50%,-50%) rotate(-45deg);
	//}
	//
	//&[data-userid="157038499671965696"] img[class*=Voice_avatar]{
	//	filter: brightness(0.25)!important;
	//}

}
div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] li[class*=Voice_voiceState] img[class*=Voice_avatar] {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	border: none;
	filter: brightness(0.55);
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] li[class*=Voice_voiceState] img[class*=Voice_avatarSpeaking] {
	filter: brightness(1);
	border: none;
}
div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] li[class*=Voice_voiceState] div[class*=Voice_user] {
	text-align: center;
	padding-top: 20px;
}
div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] li[class*=Voice_voiceState] div[class*=Voice_user] span[class*=Voice_name] {
	line-height: 1.4;
}


div[class*=Voice_voiceContainer] ul[class*=Voice_voiceStates] li[class*=Voice_voiceState] {
	display: inline-block;
	height: auto;
	aspect-ratio: 1/1;
	text-align: center;
	position: relative;

	//あざみ
	//	&[data-userid="157038499671965696"]{
	//	display: none;
	//}
	//すなぎも
	//&[data-userid="259700352675217409"]{
	//	display: none;
	//}

	////セロハン
	//&[data-userid="523104311362715649"]{
	//	display: none;
	//}
	////あさぎ
	//&[data-userid="934437910470610945"]{
	//	display: none;
	//}
	////しゃらくせえ
	//&[data-userid="1075797926275727401"]{
	//	display: none;
	//}
	////桃園えりん
	//&[data-userid="880821003092107325"]{
	//	display: none;
	//}
	////おやすみ
	//&[data-userid="835533964684296192"]{
	//	display: none;
	//}
	////ジャガバター
	//&[data-userid="357540632207687681"]{
	//	display: none;
	//}



	//雛形
	//&[data-userid="219413215208013824"]::before,&[data-userid="219413215208013824"]::after{
	//	content: "";
	//	z-index: 1;
	//	position: absolute;
	//	top: 40%;
	//	left: 50%;
	//	width: 90%; /* 棒の幅（太さ） */
	//	height: 20px; /* 棒の高さ */
	//	background: darkred;
	//}
	//&[data-userid="219413215208013824"]::before{
	//	transform: translate(-50%,-50%) rotate(45deg);
	//}
	//
	//&[data-userid="219413215208013824"]::after{
	//	transform: translate(-50%,-50%) rotate(-45deg);
	//}
	//
	//&[data-userid="219413215208013824"] img[class*=Voice_avatar]{
	//	filter: brightness(0.25)!important;
	//}



}
